html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    background: rgb(214, 214, 214);
    background: linear-gradient(90deg, rgba(214, 214, 214, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(214, 214, 214, 1) 100%);
}

header {
    width: 100%;
    position: absolute;
    height: 50px;
}

#logo {
    position: relative;
    max-width: 200px;
    height: auto;
    left: 6%;
    top: 10px;
}

#container1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    top: 75px;
    display: flex;
    justify-content: center;
}

#container2 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    top: 325px;
}

#hangmanWord {
    display: flex;
    justify-content: center;
    max-width: 900px;
    height: 90px;
}

#hangmanMain {
    max-width: 500px;
    max-height: 100%;
}

#container3 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    top: 420px;
}

#keyboard {
    position: relative;
    max-width: 508px;
    height: auto;
}

#functions {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 900px;
    height: auto;
}

#help {
    position: relative;
    display: block;
    max-width: 50px;
    height: auto;
    outline: none;
    cursor: pointer;
}

#letterBtn {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    top: 20px;
    font-size: 2em;
    margin: 5px;
    -ms-text-kashida-space: 50px;
    height: 50px;
    outline: none;
}

#container4 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    top: 625px;
}

#keyboardKey {
    position: relative;
    background-color: rgb(112, 155, 212);
    width: 50px;
    color: rgb(66, 66, 66);
    font-family: Arial;
    border-radius: 7px;
    max-height: 45px;
    margin: 3px;
    font-size: 1.5em;
    box-shadow: 7px 7px 20px #888;
    outline: none;
    cursor: pointer;
}

#keyboardKey :hover {
    transition: ease-in 300ms;
    cursor: pointer;
    background-color: rgba(96, 105, 116, 0.1);
}